* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

@mixin Flex($j-content, $f-direction) {
  display: flex;
  flex-direction: $f-direction;
  align-items: center;
  justify-content: $j-content;
}

@mixin ImageApply($img-name) {
  width: 100vw !important;
  background: url($img-name) !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
