@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: "Playfair Display", serif;
}

:root {
  --background: linear-gradient(
    65.78deg,
    rgba(237, 165, 199, 0.45) 16.27%,
    rgba(130, 125, 118, 0.28) 43.92%,
    rgba(237, 165, 199, 0.36) 79.65%
  );
  --btn-color: linear-gradient(
    230.43deg,
    #ff94c7 28.48%,
    rgba(224, 137, 50, 0.4) 80.54%
  );
}
body {
  position: relative;
  background: var(--background);
}
nav {
  background: transparent !important;
  position: relative;
}
.navbar-nav {
  font-size: 1.1rem !important;
  transition: all 0.9s ease-in-out;
  padding: 0px 5px !important;
}

.navbar-nav :hover {
  border-bottom: 4px solid #ff95c8;
}
.heading {
  font-weight: bold;
  color: #3c3a37;
}

.sub-heading {
  color: #827d76;
  font-weight: normal;
  margin: 20px 0px !important;
}

.navbar-nav .active {
  border-bottom: 4px solid #ff95c8;
}

nav .container {
  background: transparent !important;
}
.navbar-brand img {
  height: 80px;
}
.navbar-brand span {
  font-size: 1.6rem !important;
  font-weight: bold;
}

.watch-img img {
  height: 460px;
  max-width: 100%;
}
.rectangle {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  opacity: 0.65;
}
@media only screen and (max-width: 600px) {
  .rectangle {
    display: none !important;
  }
  .navbar-nav .active {
    width: 17%;
  }
  .navbar-nav:hover {
    width: 17%;
  }
}

.buy-now {
  padding: 10px 8px;
  background: var(--btn-color);
  color: white !important;
  font-weight: bold;
  text-transform: capitalize !important;
  transition: all 0.3s ease-in;
  border: none;
  border-radius: 5px;
}
.buy-now:hover {
  background: rgb(169, 89, 177) !important;
}

@media only screen and (min-width: 800px) {
  .navbar-nav {
    position: absolute;
    right: 18rem;
    top: 15px;
  }
}
.mouse {
  display: inline-block;
  margin: 0.4rem 0.5rem;

  animation: shakeY; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 6s; /* don't forget to set a duration! */
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.animate_fadeInLeft {
  display: inline-block;
  margin: 0.4rem 0.5rem;

  animation: fadeInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
  animation-timing-function: ease-in-out;
}
.watch-img figure {
  display: inline-block;
  margin: 0.4rem 0.5rem;

  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
  animation-timing-function: ease-in-out;
}
