@import "./restaurant-website/src/scss/util";

#Hero {
  height: 100vh;
  padding-top: 5%;
  @include ImageApply("../img/banner-bg.jpg");
}
#card {
  img {
    height: 500px;
    max-width: 95%;
  }
  #para {
    text-align: justify !important;
  }
}

#section {
  min-height: 70vh;
  color: white;
  min-width: 100vw !important;
  @include ImageApply("../img/book-bg.jpg");
  img {
    height: 350px !important;
    max-width: 100% !important;
  }
  select,
  input {
    height: 6vh;
    border-radius: 5px;
    margin: 1rem auto;
    border: 1px solid rgb(242, 116, 95);
  }
}
#gallary {
  .card {
    border: none !important;
  }
  figure {
    box-shadow: 2px 2px 5px silver;
    height: 250px;
    object-fit: cover;
    overflow: hidden;
    img {
      max-width: 100%;
      transition: all 0.4s ease-in;
      &:hover {
        transform: scale(1.15);
      }
    }
  }
  #gallary-name {
    text-decoration: underline;
  }
}
